# Task Objective:
    Your mission is to design and implement an Information Retrieval (IR) system capable of efficiently
    retrieving relevant documents from a given dataset. Below are the key steps and details for this project:

# Methodology

###  1. Dataset Selection and Preparation

###  2. Data Preprocessing
###  3. User Query Interface
###  4. Retrieval Algorithm
###  5. Query Processing
###  7. User Feedback (Optional)

###  6. Evaluation
###  8. Documentation and Presentation

# 1. Dataset Selection and Preparation:
  - This Dataset is scraped from https://www.thenews.com.pk website. It has news articles from 2015 till date related to     business and sports. It Contains the Heading of the particular Article, Its content and its date. The content also contains the place from where the statement or Article was published.
  - you can download this dataset from kaggle( https://www.kaggle.com/datasets/asad1m9a9h6mood/news-articles)
  
### About this csv file
  Data set contains 4 columns

 - Article : Text having the news article and the place where it was published from
- Heading : Text containing the heading of the news article.
- Date : Date when the article was published.
- NewsType : Type of Article i.e business or sports

## Importing Libraries

In [1]:
## Importing necessary libraries
import pandas as pd
import numpy as np
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords ,wordnet
from nltk.tokenize import word_tokenize
import matplotlib.pyplot as plt

In [2]:
## Import the dataframe using pandas 
df = pd.read_csv("./dataset/Articles.csv", encoding='latin1')
df.head()

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business

In [3]:
## Take the rows only necessary
data = df.drop(["Date" ,"Heading"] ,axis = 1)
data.head()

                                             Article  NewsType
0  KARACHI: The Sindh government has decided to b...  business
1  HONG KONG: Asian markets started 2015 on an up...  business
2  HONG KONG:  Hong Kong shares opened 0.66 perce...  business
3  HONG KONG: Asian markets tumbled Tuesday follo...  business
4  NEW YORK: US oil prices Monday slipped below $...  business

# 2. Data Cleaning & Preprocessing
  - Check for missing value
- Remove duplicates text
- Casing
- Removing puntuation

In [4]:
## Check for missing values
data.isna().sum()

Article     0
NewsType    0
dtype: int64

In [5]:
## Check for duplicates
print("Duplicates ",data.duplicated().sum())

data.drop_duplicates(inplace = True) ## drop the duplicate

print("After dropping duplicates" , data.duplicated().sum())

Duplicates  108
After dropping duplicates 0

In [6]:
## Checking for duplicates in article Column
data.duplicated(subset = ["Article"]).sum()

0

In [7]:
import nltk
nltk.download('stopwords')
import nltk
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Barcha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Barcha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
## Create a preprocessing function
stops_word = set(stopwords.words("english")) ## Will contain stops words

def preprocessing(text):
    text = text.lower()
    text = re.sub(r"https\S+|www\S+https\S+",'',text ,flags = re.MULTILINE)
    text = re.sub(r'\@w+|\#','',text)
    text = re.sub(r'[^\w\s\n]','',text)
    
    lemitizer = WordNetLemmatizer()  ## this function converts the word to its base form
    words = word_tokenize(text) ## split the sentence into words/tokens
    lemitize_word = [lemitizer.lemmatize(word ,wordnet.VERB) for word in words]
    newArray = [stop_word for stop_word in lemitize_word if stop_word not in stops_word]
    
    return " ".join(newArray)

In [9]:
## Apply preprocessing
data["Article"] = data["Article"].apply(preprocessing)

In [10]:
# check the preprocessed data
data["Article"]

0       karachi sindh government decide bring public t...
1       hong kong asian market start 2015 upswing limi...
2       hong kong hong kong share open 066 percent low...
3       hong kong asian market tumble tuesday follow p...
4       new york us oil price monday slip 50 barrel fi...
                              ...
2669    strongdubai dubai international airport flag c...
2670    strongbeijing former prime minister shaukat az...
2671    strongwashington uber ground fleet selfdriving...
2690    strongbeijing new development bank plan cofina...
2691    strongkarachi karachibased technology incubato...
Name: Article, Length: 2584, dtype: object

In [11]:
data["NewsType"].value_counts()

sports      1408
business    1176
Name: NewsType, dtype: int64

# 3. User Query Interface
  - create a query function and preprocess it by using preprocess function from above

In [12]:
## create a input query function

def query():
    query = input("Write the query(Text) :\n ")
    
    query1 = preprocessing(query)
    
    print("\nThe query after preprocessing: \n" ,query1)
    
    return query1

In [13]:
query()

Write the query(Text) :
 j

The query after preprocessing:
 j

'j'

#  4. Retrieval Algorithm
 - Use cosine_simularity to find the text for the query

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity


vectorizer = TfidfVectorizer()   ## convert text to numerical 

x = data["Article"]

x_vectorize = vectorizer.fit_transform(x)

query11 = query()
query_vectorizer = vectorizer.transform([query11])


similarity = cosine_similarity(query_vectorizer ,x_vectorize)    ## use cosine simularity to compare the text

Write the query(Text) :
 hellow

The query after preprocessing:
 hellow

In [39]:
## Search the text for most relevant match

max_text_index= similarity.argmax()
print()
print(f"\nFor query : {query11}\n",f"\nThe index is  : {max_text_index}\n")
print( df["Article"][max_text_index])

For query : hellow

The index is  : 0

KARACHI: The Sindh government has decided to bring down public transport fares by 7 per cent due to massive reduction in petroleum product prices by the federal government, Geo News reported.Sources said reduction in fares will be applicable on public transport, rickshaw, taxi and other means of traveling.Meanwhile, Karachi Transport Ittehad (KTI) has refused to abide by the government decision.KTI President Irshad Bukhari said the commuters are charged the lowest fares in Karachi as compare to other parts of the country, adding that 80pc vehicles run on Compressed Natural Gas (CNG). Bukhari said Karachi transporters will cut fares when decrease in CNG prices will be made.

AttributeError: 'list' object has no attribute 'plot'

In [ ]:
# Plotting cosine similarity scores
plt.bar(range(len(similarity[0])), similarity[0])
plt.xticks(range(len(similarity[0])), x, rotation=45, ha="right")
plt.xlabel("Articles")
plt.ylabel("Cosine Similarity")
plt.title("Cosine Similarity of Query with Articles")
plt.tight_layout()
plt.show()